body {
    background-color: black;
}

.text {
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.buttons {
    text-align: center;
}

.home {
    font-size: 30px;
    background: none;
    border: 2px solid #0fa;
    color: #0fa;
    font-family: sans-serif;
}

.home:active {
    color: white;
}